.FormControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.ButtonsContainer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.Error {
  text-align: center;
}

.DimensionDialogInput {
  width: 150px;
}
