.requestInvite {
  .link {
    display: block;
    margin: 1.6rem 0;
    p + & {
      margin-top: 3rem;
    }
    weave-button + & {
      margin-top: 1.6rem;
    }
  }

  weave-button {
    margin-top: 1.4rem;
  }

  .done {
    color: var(--icon-color-medium);
    margin-bottom: 1.6rem;
  }
}
