.AnalysisAreaSelection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AnalysisAreaSelectionHeader {
  font: var(--11-medium);
}

.SharedRadiusSliderContainer {
  padding-top: 16px;
}

.RapidAnalysisContainer {
  border: 1px solid #3c3c3c40;
  border-radius: 4px;
  overflow: hidden;
}

.DetailedAnalysisContainer {
  border: 1px solid #3c3c3c40;
  border-radius: 4px;
  margin-top: 16px;
  padding-bottom: 0 !important;
}

.AnalysisContainerHeader {
  font: var(--12-bold);
  margin-bottom: 12px;
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 16px 16px 0 16px;
  text-transform: uppercase;
}

.AnalysisContainerContent {
  padding: 0 16px 8px 16px;
}

.AnalysisContainerMorePadding {
  padding-bottom: 12px;
}

.AnalysisText {
  font: var(--12-regular);
  color: #3c3c3c;
  margin-bottom: 12px;
  padding: 0 16px;
}

.LearnMore {
  text-decoration: none;
  color: #006eaf;
}

.DetailedAnalysisContainer .LearnMore {
  display: block;
}

.Divider {
  border-color: var(--divider-lightweight);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  padding: 0 32px;
}

.MissingTrafficData {
  padding: 12px 16px 8px;
  background-color: #f5f5f5;
  margin-top: 10px;
}

.MissingTrafficDataHeader {
  font: var(--12-bold);
  margin-bottom: 12px;
  color: #3c3c3c;
  display: flex;
  gap: 8px;
}

.MissingTrafficDataContent {
  font: var(--12-regular);
  color: #3c3c3c;
}

.MissingTrafficDataContent p {
  margin-bottom: 8px;
}

.MissingTrafficDataIcon {
  margin-left: 4px;
}
