.demoBadgeFlyout {
  margin: 1.2rem;
  max-width: 24.2rem;
  h1 {
    font: var(--12-bold);
    margin-bottom: 1.2rem;
  }
  p {
    font: var(--11-regular);
  }
  .buttonRow {
    display: flex;
    margin-top: 1.2rem;
    gap: 1rem;
    justify-content: space-between;
  }
}
