.Wrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.Button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    background-color: var(--background-color-ghost-high-hover);
    box-shadow: none;
  }
}

.ToolTip_Message {
  margin-bottom: 5px;
}
