.buttonContent {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  align-items: center;
}
.buttonContent > span {
  overflow: hidden;
  text-overflow: ellipsis "..";
  color: var(--text-color-medium-default);
  font: var(--11-medium);
  white-space: nowrap;
}
.wrapper {
  display: flex;
}
.button {
  max-width: 170px;
  background-color: var(--background-color-neutral-high-default);
  border: transparent;
  border-radius: 4px;
  padding: 4px 6px;
  cursor: pointer;
  &[disabled] {
    cursor: auto;
    opacity: 0.5;
  }
}
.button:not([disabled]):hover {
  background-color: var(--background-color-neutral-high-hover);
}
