.Header {
  font: var(--12-bold);
  display: flex;
  align-items: center;
  background-color: var(--background-transparent);
  padding: 10px 16px 10px 6px;
  justify-content: space-between;
}

.HeaderGroup {
  display: flex;
  align-items: center;

  > *:last-child {
    margin-left: 6px;
  }
}
