.divider {
  border: none;
  border-top: 1px solid #ededed;
}

.header {
  font-size: 12px;
  font-weight: bold;
  margin: 16px 0;
}

.terrainPadInputsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 16px 0;
}

.labelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-top: 4px;
}

.slopeButton {
  all: unset;
  cursor: pointer;
  font-size: 10px;
  border-radius: 4px;
  color: black;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  height: 16px;
  width: 16px;
  margin-left: -24px;
  z-index: 10;
}

.slopeButton:hover {
  background: #eee;
}

.terrainInput {
  width: 120px;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin: 4px 0;
}

.slopeContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
}

.sliderContainer {
  padding-top: 10px;
}

.flyout {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 4px;
  width: 110px;
}

.flyoutButton {
  border: none;
  font-size: 12px;
  background-color: transparent;
  font-family: Artifakt Element;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  width: 100%;
}

.activeFlyout {
  font-weight: bold;
}

.flyoutButton:hover {
  background-color: #f2f2f2;
}

.iconSlot {
  display: inline-flex;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
}

.iconSlot forma-check {
  width: 12px;
  height: 12px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.label {
  flex: 1;
  text-align: left;
  font-size: 12px;
}

.value {
  display: flex;
  justify-content: flex-end;
  min-width: 70px;
  font-weight: 600;
}

.number {
  text-align: right;
  font-size: 12px;
}

.numberWithUnit {
  text-align: right;
  font-size: 12px;
  margin-right: 5px;
}

.unit {
  text-align: left;
  font-size: 12px;
}
