.PerformanceStatsMain {
  padding: 15px;
  min-width: 400px;

  table {
    margin: 1em 0;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid lightgray;
      padding: 1px 3px;
    }
    td.SizeCell {
      border-right: 0;
      text-align: right;
    }
    td.DurationCell {
      border-left: 0;
      text-align: right;
    }
  }
}

.ValueLow {
  color: #ccc;
}
.ValueHigh {
  font-weight: bold;
}
