.SkeletonContainer {
  margin-top: 16px;
  padding: 0 8px;
  overflow: hidden;
}

.SkeletonItem {
  margin-bottom: 24px;
  display: flex;
  margin-left: 12px;
  gap: 12px;
}

.SkeletonHeaderWrapper {
  padding-left: 10px;
}
