.HeaderContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  user-select: none;
  cursor: pointer;
  gap: 0px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.ActionContainer {
  display: flex;
  align-items: center;
  gap: 2px;
}

.ActionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  background: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.HeaderTitle {
  font: var(--12-bold);
}
