.FloorHeightContainer {
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 5px;
}

.FloorHeightDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weaveInput {
  width: 100px;
}
.TitleWrapper {
  display: flex;
  gap: 4px;
  marginright: "8px";
  align-items: center;
  flex-grow: 1;

  forma-function-dropdown {
    pointer-events: none;
  }
}

.ActionWrapper {
  display: flex;
  align-items: center;
}

.Placeholder {
  width: 28px;
  height: 28px;
}
