.divider {
  border: none;
  height: 1px;
  background-color: var(--border-color-divider-light);
  margin: 0;
}

.top {
  margin-top: 16px;
}

.bottom {
  margin-bottom: 16px;
}

.left {
  margin-left: -16px;
}

.right {
  margin-right: -16px;
}

.bottomSmall {
  margin-bottom: 10px;
}
