.BetaTag {
  align-items: center;
  padding: 0px 3px;
  background: var(--background-color-surface-200);
  border-radius: 2px;
  display: flex;
}

.BetaTagText {
  vertical-align: middle;
  color: var(--reference-base);
  font-weight: 100;
  font-size: 10px;
  text-transform: uppercase;
}
