.refreshButton {
  border: 1px solid var(--border-color-accent-default);
  background: 1px solid var(--background-color-accent);
  color: var(--icon-color-link);
}

.configPanel {
  width: 100%;

  & > div {
    margin: 6px 0 0;
  }
}

.treePanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font: var(--11-regular);
  line-height: 16px;

  .title {
    font: var(--11-bold);
  }
}
