.AnalyzeHeader {
  height: 40px;
  background: var(--background-color-surface-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--11-medium);
  cursor: default;
  margin-bottom: 4px;
  font-weight: bold;
}

.AnalysisMenuHolder {
  margin: 0 -16px;
  padding: 16px;
  border-bottom: 1px solid var(--border-color-divider-light);
  z-index: var(--z-primary-navigation);
}

.AnalysisTitle {
  font: var(--12-bold);
  margin: 10px 0 16px;
}
