.ContentWrapper {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  white-space: initial;
  gap: 1.6rem;
}

.Description {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.Actions {
  display: flex;
  gap: 1.6rem;
  padding: 1.6rem;
}

.Header {
  padding: 1rem;
}
