.SwapBaseMenuRow {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;

  > span {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    white-space: nowrap;
  }
}
