.panel {
  margin-top: 8px;
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}

.panel-header {
  user-select: none;
  cursor: pointer;
  font-size: normal;
  font-weight: bold;
}

.panel-content {
  padding: 16px;
}
