.Chevron {
  height: 12px;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
  color: var(--icon-color-medium);
}

.ChevronOpen {
  transform: rotate(0deg);
}
